In [59]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = [16,8]
from datetime import datetime

In [74]:
dateparse = lambda dates: datetime.strptime(dates, '%b-%y')
df = pd.read_csv('producao-mar-2021.csv', sep=',', parse_dates=['Mês/Ano'], index_col= ['Mês/Ano'],date_parser=dateparse, encoding = 'cp1252')

In [90]:
df.to_excel('prod_mar_2021_tratado.xls', index=True, header=True)

C:\Users\LVVE2K631\AppData\Local\Temp\ipykernel_15840\3846745769.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel('prod_mar_2021_tratado.xls', index=True, header=True)

In [76]:
df['Informacoes'] = df['Estado'].map(str) + '-' + df['Bacia'].map(str) + '-' + df['Campo'].map(str)+ '-' + df['Poço'].map(str) + '-' + df['Ambiente'].map(str)+ '-' + df['Instalação'].map(str)

In [77]:
df2 = df[['Produção de Óleo (m³)','Informacoes']]

In [78]:
print(df2.shape)
print(df.shape)

(21149, 2)
(21149, 22)

In [81]:
#Aplicando valores únicos nas colunas categóricas para entender o que temos
df_dist = pd.DataFrame(df2, columns=['Informacoes'])
df_dist.drop_duplicates()

                                                  Informacoes
Mês/Ano
2021-01-01  Alagoas-Alagoas-PARU-4-ALS-39-AL-Mar-Estação d...
2021-01-01  Bahia-Camamu-MANATI-7-MNT-1-BAS-Mar-PLATAFORMA...
2021-01-01  Bahia-Camamu-MANATI-7-MNT-2-BAS-Mar-PLATAFORMA...
2021-01-01  Bahia-Camamu-MANATI-7-MNT-3-BAS-Mar-PLATAFORMA...
2021-01-01  Bahia-Camamu-MANATI-7-MNT-4-BAS-Mar-PLATAFORMA...
...                                                       ...
2021-12-01  Rio de Janeiro-Santos-MERO-9-MRO-5-RJS-Mar-FPS...
2021-12-01  Rio de Janeiro-Santos-OESTE DE ATAPU-3-BRSA-12...
2021-12-01  Rio de Janeiro-Santos-SÉPIA-7-SEP-6-RJS-Mar-FP...
2021-12-01  Rio de Janeiro-Santos-SÉPIA LESTE-7-SEP-6-RJS-...
2021-12-01  Rio de Janeiro-Santos-TUPI-7-LL-69-RJS-Mar-Não...

[2150 rows x 1 columns]

In [82]:
df_dist.to_excel('categorias_producao_petroleo.xls', index=False, header=True)

C:\Users\LVVE2K631\AppData\Local\Temp\ipykernel_15840\453626621.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_dist.to_excel('categorias_producao_petroleo.xls', index=False, header=True)

In [88]:
local = input("Qual local escolher: ")
df_2 = df2[df2['Informacoes'] == local]

In [89]:
df2.sample(10)

,Produção de Óleo (m³),Informacoes
Mês/Ano,,
2021-05-01,0.0,Rio Grande do Norte-Potiguar-UBARANA-7-UB-52-R...
2021-11-01,NaN,São Paulo-Santos-NOROESTE DE SAPINHOÁ-8-SPH-19...
2021-05-01,NaN,Rio de Janeiro-Campos-BARRACUDA-1-RJS-380-RJS-...
2021-09-01,15510.0,Espírito Santo-Campos-JUBARTE-7-JUB-55-ESS-Mar...
2021-08-01,0.0,Espírito Santo-Espírito Santo-CANGOÁ-7-CAN-1D-...
2021-03-01,10897.0,Rio de Janeiro-Campos-MARLIM SUL-6-BRSA-517-RJ...
2021-05-01,0.0,Rio de Janeiro-Campos-ALBACORA-7-AB-50DB-RJS-M...
2021-11-01,0.0,Sergipe-Sergipe-CAIOBA-7-CB-30D-SES-Mar-Não In...
2021-11-01,48722.0,Rio de Janeiro-Santos-BÚZIOS-7-BUZ-30-RJS-Mar-...
2021-11-01,0.0,Sergipe-Sergipe-GUARICEMA-7-GA-35D-SES-Mar-Não...